[submodule "firmware/external/RTT"]
	path = firmware/external/RTT
	url = https://github.com/SEGGERMicro/RTT.git
[submodule "firmware/external/embedded-cli"]
	path = firmware/external/embedded-cli
	url = https://github.com/funbiscuit/embedded-cli.git
[submodule "firmware/external/CMSIS_6"]
	path = firmware/external/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6.git
[submodule "firmware/external/cmsis-device-f0"]
	path = firmware/external/cmsis-device-f0
	url = https://github.com/STMicroelectronics/cmsis-device-f0.git
[submodule "firmware/external/stm32f0xx-hal-driver"]
	path = firmware/external/stm32f0xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f0xx-hal-driver.git
[submodule "firmware/external/cmsis-device-f4"]
	path = firmware/external/cmsis-device-f4
	url = https://github.com/STMicroelectronics/cmsis-device-f4.git
[submodule "firmware/external/stm32f4xx-hal-driver"]
	path = firmware/external/stm32f4xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f4xx-hal-driver.git
[submodule "firmware/external/cmsis-device-f1"]
	path = firmware/external/cmsis-device-f1
	url = https://github.com/STMicroelectronics/cmsis-device-f1.git
[submodule "firmware/external/stm32f1xx-hal-driver"]
	path = firmware/external/stm32f1xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f1xx-hal-driver.git
